@import '_placeholders/icon';
@import '_placeholders/clearfix';

.note {
  @extend %cf;
  width: 400px;
  max-width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  background: white;
  z-index: 1;
  position: fixed;

  &.note--minimized {
    position: static;
    padding: 10px 6px 10px 10px;
    margin: 0 10px 10px;
    width: 180px;
    background: #e2e2e2;
  }

  &.note--edit-mode {
    padding: 0;
    width: calc(100vw - 226px);
    height: calc(100vh - 100px);
    position: fixed;
    left: 216px;
    top: 80px;
  }

  &__header {
    @extend %cf;
    padding: 5px;
    border-bottom: 1px solid #333;
    margin-bottom: 10px;
    background: #e2e2e2;
    border-radius: 5px 5px 0 0;

    .note--minimized & {
      float: right;
      width: 25px;
      padding: 0;
      border: 0;
      margin: 0px;
      background: none;
    }
  }

  &__content {
    padding: 0px 20px;

    .note--minimized & {
      float: left;
      width: calc(100% - 30px);
      padding: 0px;
    }

    .note--edit-mode & {
      height: calc(100% - 51px);
    }
  }

  &__headline,
  &__editor {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    outline: 0;
    background: none;
  }

  &__headline {
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 10px;
    line-height: 30px;
    font-weight: 600;

    .note--minimized & {
      border: 0;
      margin-bottom: 0;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__editor {
    height: 200px;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 10px;
    line-height: 24px;
    resize: none;

    .note--edit-mode & {
      height: calc(100% - 41px);
    }
  }

  &__icon {
    @extend %icon;
    float: right;
    margin-left: 5px;
  }

  &__minimize {
    &:before {
      content: "\f068";
    }
  }

  &__maximize {
    &:before {
      content: "\f067";
    }
  }

  &__delete {
    &:before {
      content: "\f1f8";
    }

    .note--minimized & {
      display: none;
    }
  }
}